@font-face { 
font-family: ducnghiait; 
src: url(/style/font/ducnghia.ttf);  
}
#dame_2 {
background: url(/style/dame.gif) no-repeat;
width: 50px;
height:50px;
color:#FFFF66;
font-size:14px;
position: absolute;
padding: 20px 20px 0px 0px;
z-index: 105;
}
#dame_ {
background: url(/style/dame.gif) no-repeat;
width: 50px;
height:50px;
color:#FFFF66;
font-size:14px;
position: absolute;
padding: 20px 20px 0px 0px;
z-index: 105;
}
.ducnghia_p {
    border: 1px solid #000;
    background: #717970;
    margin: 4px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.border_black {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #5b5555;
    color: #ebfa01;
}
.kengang{
    width: 98%;
    border-top: 1px #FFFFFF solid;
    margin-bottom: 10px;
    overflow: hidden;
}
ducnghiait{
height: 2px;
    border: none;
   
    background: -moz-linear-gradient(left, rgba(249,249,249,0.25) 0%, rgba(249,249,249,1) 50%, rgba(249,249,249,0.25) 100%);
    
    background: -o-linear-gradient(left, rgba(249,249,249,0.25) 0%,rgba(249,249,249,1) 50%,rgba(249,249,249,0.25) 100%);
    background: -ms-linear-gradient(left, rgba(249,249,249,0.25) 0%,rgba(249,249,249,1) 50%,rgba(249,249,249,0.25) 100%);
    background: linear-gradient(to right, rgba(8, 8, 8, 0.25) 0%,#E0C60A 50%,rgba(249,249,249,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40f9f9f9', endColorstr='#40f9f9f9',GradientType=1 );
}


.ducnghia_connet {
    font-weight: bold;
    color: rgb(255, 253, 253);
    text-shadow: #000 -1px 0px, black 0px 1px, #040404 1px 0px, black 0px -1px;
}
.ducnghia_ws {
font-weight: bold;
    color: rgb(255, 248, 248);
    text-shadow: #007bff -1px 0px, #007bff 0px 1px, #007bff 1px 0px, #0E80FF 0px -1px;
}

 